<%= provide('title','Viewing Micropost') %>
<p id="notice"><%= notice %></p>
<div>
  <p>
    <strong>Content:</strong>
    <%= @micropost.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @micropost.user_id %>
  </p>
</div>
<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
